@charset 'UTF-8';
@use "../../inc" as *;
/*
  Article
*/
.p-article {
  padding: .5em;
  background-color: #fff;

  @include mq(md) {
    padding: 1.5em;
  }

  &__title {
    $font-size: 14px;
    min-height: set-size($font-size * 1.5 * 3, $font-size);
    font-size: set-size($font-size);
    font-weight: bold;

    @include mq(md) {
      $font-size: 20px;
      min-height: set-size($font-size * 1.5 * 3, $font-size);
      font-size: set-size($font-size);
    }

    &.-detail {
      $font-size: 24px;
      min-height: auto;
      font-size: set-size($font-size);

      @include mq(md) {
        $font-size: 40px;
        font-size: set-size($font-size);
      }
    }

    &.-center {
      text-align: center;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: $colorMain;
        color: #fff;
      }
    }
  }

  &__eyecatch {
    margin: .5rem 0;

    @include mq(md) {
      margin: 1.5rem 0;
    }

    img {
      width: 100%;
    }
  }

  &__time {
    font-size: set-size(12px);

    @include mq(md) {
      font-size: set-size(14px);
    }
  }

  &__metaList {
    margin: 1rem 0;

    dt {
      margin-bottom: .25rem;
      font-size: .75rem;
      font-weight: bold;
    }

    dd + dt {
      margin-top: 1rem;
    }

    @include mq(md) {
      dt {
        margin: 0 1.5rem 0 0;
        padding: .75rem 0;
        float: left;
        clear: left;
        overflow: hidden;
        font-size: .75rem;
      }
      dd {
        padding: .5rem 0;
      }

      dd + dt {
        margin-top: 0;
      }
    }
  }

  & + & {
    border-top: 1px solid #ddd;
  }

  &__body {
    line-height: 2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    ul,
    ol,
    table,
    figure {
      margin: 1em 0;

      @include mq(md) {
        margin: 1.5rem 0 1em;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    h1 {
      font-size: set-size(24px);

      @include mq(md) {
        font-size: set-size(32px);
      }
    }

    h2 {
      padding: .25em 0;
      border-top: 1px solid $colorMain;
      border-bottom: 1px solid $colorMain;
      font-size: set-size(24px);

      @include mq(md) {
        font-size: set-size(28px);
      }
    }

    h3 {
      padding: .5em 1em;
      background-color: #eee;
      font-size: set-size(20px);

      @include mq(md) {
        font-size: set-size(24px);
      }
    }

    h4 {
      padding-left: 1em;
      border-left: .25rem solid $colorMain;
      font-size: set-size(18px);

      @include mq(md) {
        font-size: set-size(20px);
      }
    }

    h5 {
      font-size: set-size(16px);

      @include mq(md) {
        font-size: set-size(18px);
      }
    }

    blockquote {
      padding: .25em 1em;
      border-left: .25em solid $colorMain;
      background-color: #eee;

      p {
        margin: 1em 0;
      }
    }

    ul,
    ol {
      padding-left: set-size(20px);
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    dl {
      position: relative;
      z-index: 0;
      margin: 1.5em 0 0;
      dt {
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0 .5em;
        padding: 0 .5em;
        background-color: #fff;
        font-weight: bold;
      }

      dd {
        position: relative;
        top: -1em;
        padding: 2em 1em 1em;
        border: 1px solid $colorMain;
      }
    }
  }

  &__footer {
    margin: 2rem 0;

    @include mq(md) {
      margin: 4rem 0;
    }
  }
}
