@charset 'UTF-8';
@use "../../inc" as *;
/*
footer
*/

.p-footer {
  position: relative;
  background-color: $colorWhite;

  &__scrollWrap {
    text-align: center;
  }
  &__scroll {
    display: inline-block;
    color: $primary-text-color;
    font-size: fz(20);
    font-weight: 400;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;

    &:hover {
      span {
        &::before {
          top: -5px;
          transition: top .3s;
        }
      }
    }

    span {
      display: inline-block;
      position: relative;
      padding-top: 40px;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50px;
        height: 12px;
        transform: translateX(-50%);
        transition: top .3s;
        background: url(../../assets/images/arrow.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__copy {
    color: #888888;
    font-size: fz(11);
    letter-spacing: .2em;
  }

  &__bottomLeft {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
    padding: 24px 0;

    .sns-list {
      display: flex;
      align-items: center;
      margin-left: 120px;
      gap: 0 14px;
      li {
        a {
          display: block;
          position: relative;
          width: 14px;
          height: 14px;
          &:hover {
            opacity: .5;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
          }
        }

        &.twitter {
          a {
            &::before {
              background: url(../../assets/images/icon-twitter.svg) no-repeat center;
              background-size: contain;
            }
          }
        }
        &.face {
          a {
            &::before {
              background: url(../../assets/images/icon-face.svg) no-repeat center;
              background-size: contain;
            }
          }
        }
        &.insta {
          a {
            &::before {
              background: url(../../assets/images/icon-insta.svg) no-repeat center;
              background-size: contain;
            }
          }
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0 20px;

    li {
      a {
        color: $primary-text-color;
        font-family: "Barlow", sans-serif;
        font-size: fz(10);
        text-decoration: none;

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}
