@charset 'UTF-8';
@use "../../inc" as *;
/*
  Widget
*/
.p-widget {
  & + & {
    margin-top: 1.5em;

    @include mq(md) {
      margin-top: 2em;
    }
  }

  &__title {
    background-color: $colorMain;
    color: #fff;
    font-weight: bold;
  }

  &.-light {
    > ul,
    .menu {
      background-color: #fff;
      li {
        padding: .5em;

        @include mq(md) {
          padding: 1em;
        }

        & + li {
          border-top: 1px solid #ddd;
        }
      }
    }

    .p-widget__title {
      padding: .5em;

      @include mq(md) {
        padding: 1em;
      }
    }

    .textwidget {
      background-color: #fff;

      strong {
        color: $colorAccent;
      }
    }
  }

  &.-dark {
    > ul,
    .menu {
      li {
        padding: .5em 0;

        @include mq(md) {
          padding: 1em 0;
        }

        & + li {
          border-top: 1px solid $hint-text-color;
        }
      }
    }

    .p-widget__title {
      margin: .5em 0;

      @include mq(md) {
        margin: 1em 0;
      }
    }

    .textwidget {
      strong {
        color: #fff;
      }
    }
  }

  // 投稿リスト、カテゴリー
  > ul,
  .menu {
    > li {
      a {
        transition: all .3s ease-in-out;
        color: inherit;
        text-decoration: none;

        &:hover {
          background-color: $colorMain;
          color: #fff;
        }
      }

      .post-date {
        font-size: .75rem;
      }
    }
  }

  // サイト内検索
  form {
    padding: .5em;
    background-color: #fff;

    @include mq(md) {
      padding: 1em;
    }
  }

  // カレンダー
  .calendar_wrap {
    padding: .5em;
    background-color: #fff;

    @include mq(md) {
      padding: 1em;
    }
  }

  table {
    width: 100%;

    caption {
      font-weight: bold;
    }

    th,
    td {
      position: relative;
      z-index: 0;
      padding: .25em;
      text-align: center;

      @include mq(md) {
        padding: .5em;
      }
    }

    thead {
      font-weight: bold;
    }

    a {
      color: inherit;
    }

    tbody {
      color: $secondary-text-color;
      a {
        display: block;
        text-decoration: none;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 2em;
          height: 2em;
          margin: auto;
          transition: all .3s ease-in-out;
          border-radius: 50%;
          background-color: $colorBase;
        }

        &:hover {
          &:before {
            background-color: $colorMain;
            color: #fff;
          }
        }
      }
    }

    td#today {
      color: $colorAccent;
      font-weight: bold;
    }
    td#prev {
      font-weight: bold;
      text-align: left;
    }
    td#next {
      font-weight: bold;
      text-align: right;
    }
  }

  //タグクラウド
  .tagcloud {
    a {
      display: inline-block;
      margin-top: .5rem;
      padding: .25rem .5rem;
      border-radius: .5em;
      background-color: #fff;
      color: $colorMain;
      line-height: 1;
      text-decoration: none;

      &:hover {
        background-color: $colorMain;
        color: #fff;
      }
    }

    .tag-link-count {
      font-size: .5em;
    }
  }

  // カスタムHTML
  .textwidget {
    width: 100%;

    em,
    strong {
      font-weight: bold;
    }

    a {
      color: $link-text-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
