a {
  color: red;
  & > * {
    a {
      color: green;

      @media screen and (min-width: 1024px) {
        font-size: 11rem;
      }

      @media screen and (min-width: 768px) {
        font-size: 5rem;
      }

      &:hover {
        @media screen and (min-width: 768px) {
          color: blue;
        }
      }
    }
  }
}

body {
  background: url(../images/sample.jpg);
}

.test {
  color: red;
}
