// eslintの設定

{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ]
  }
}
