{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-property-sort-order-smacss",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-prettier", "stylelint-scss", "stylelint-order"],
  "ignoreFiles": ["**/node_modules/**"],
  "rules": {
    "prettier/prettier": true,
    "number-leading-zero": "never",
    "length-zero-no-unit": true,
    "unit-case": "lower"
  }
}
