// ==============================
//  Settings
// ==============================
$duration-fast: .3s;
$duration-normal: 1s;
$duration-slow: 2s;

$transration: 2.5rem;

.oreroll {
  transition: all $duration-normal ease-out;
  // ==============================
  //  Option Duration
  // ==============================
  &[data-duration="fast"] {
    transition-duration: $duration-fast;
  }

  &[data-duration="normal"] {
    transition-duration: $duration-normal;
  }

  &[data-duration="slow"] {
    transition-duration: $duration-slow;
  }

  // ==============================
  //  Option Easing
  // ==============================
  &[data-easing="linear"] {
    transition-timing-function: linear;
  }

  &[data-easing="ease"] {
    transition-timing-function: ease;
  }

  &[data-easing="ease-in"] {
    transition-timing-function: ease-in;
  }

  &[data-easing="ease-out"] {
    transition-timing-function: ease-out;
  }

  &[data-easing="ease-in-out"] {
    transition-timing-function: ease-in-out;
  }

  &[data-easing="ease-in-expo"] {
    transition-timing-function: cubic-bezier(.7, 0, .84, 0);
  }

  &[data-easing="ease-out-expo"] {
    transition-timing-function: cubic-bezier(.16, 1, .3, 1);
  }

  &[data-easing="ease-in-out-expo"] {
    transition-timing-function: cubic-bezier(.87, 0, .13, 1);
  }

  &[data-easing="in-back"] {
    transition-timing-function: cubic-bezier(.36, 0, .66, -.56);
  }

  &[data-easing="out-back"] {
    transition-timing-function: cubic-bezier(.68, -.6, .32, 1.6);
  }

  // ==============================
  //  Option Type
  // ==============================

  // FadeIn
  &[data-type~="fadeIn"] {
    &.is-orerollReady {
      opacity: 0;
    }
    &.is-orerollActive {
      opacity: 1;
    }
  }

  // slideUpIn
  &[data-type~="slideUpIn"] {
    &.is-orerollReady {
      transform: translateY($transration);
      opacity: 0;
    }
    &.is-orerollActive {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // slideLeftIn
  &[data-type~="slideLeftIn"] {
    &.is-orerollReady {
      transform: translateX($transration);
      opacity: 0;
    }

    &.is-orerollActive {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // slideRightIn
  &[data-type~="slideRightIn"] {
    &.is-orerollReady {
      transform: translateX($transration);
      opacity: 0;
    }

    &.is-orerollActive {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // zoomIn
  &[data-type~="zoomIn"] {
    &.is-orerollReady {
      transform: scale(0);
    }
    &.is-orerollActive {
      transform: scale(1);
      opacity: 1;
    }
  }

  // Text Shadow In
  &[data-type~="textShadowIn"] {
    &.is-orerollReady {
      color: transparent;
      text-shadow: 0 0 5rem rgba(0, 0, 0, .6);
    }
    &.is-orerollActive {
      color: inherit;
      text-shadow: 0 0 0 transparent;
    }
  }

  // text maker
  &[data-type~="textMaker"] {
    &.is-orerollReady {
      background: linear-gradient(#fff1a3) no-repeat;
      background-position: bottom left;
      background-size: 0 30%;
    }
    &.is-orerollActive {
      background: linear-gradient(#fff1a3) no-repeat;
      background-position: bottom left;
      background-size: 100% 30%;
    }
  }

  // bgColorChange
  &[data-type~="bgColorChange"] {
    opacity: 0;
    &.is-orerollReady {
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transition: all 1.2s cubic-bezier(.165, .84, .44, 1);
        transition-delay: 1000ms;
        opacity: 1;
        background-color: rgb(189, 63, 63);
        pointer-events: none;
      }
    }
    &.is-orerollActive {
      opacity: 1;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transition: all 1.2s cubic-bezier(.165, .84, .44, 1);
        transition-delay: 1000ms;
        opacity: 0;
        background-color: rgb(189, 63, 63);
        pointer-events: none;
      }
    }
  }
}
